@{
    ViewBag.Title = "ProductCatogray";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div id="content">
    <h3>
        商品分类管理</h3>
    <div>@Html.ActionLink("添加分类", "CategoryAdd")</div>
    <div>
        @* @{Html.RenderPartial("ShowPets", Model.Pets);}*@
    </div>
</div>
